<!-- {% extends 'base.html' %}



{% block contents %}

<div class="col-lg-6 col-6 text-left">
    <form method="GET" action="/search?name={{products}}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for products" name="name">
            <div class="input-group-append">
                <button type="submit" class="input-group-text bg-transparent text-primary">
                    <i class="fa fa-search"></i>
                </button>                        
            </div>
        </div>
    </form>
</div>

{% endblock %} -->
